{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb" id="message">
        <div class="jumbotron">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <a href="{{ path('app_homepage') }}"><p>Перейки на главную страницу</p></a>
        </div>

{% endblock %}
